<!-- views/additem.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add New Menu Item | Cum 'n Eat</title>
  <link rel="icon" href="/Images/logo.png" type="image/png">
  <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #080808;
            color: #fff;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            max-width: 100%;
        }

        header {
            background-color: #000;
            color: #fff;
            padding: 10px 20px;
            text-align: center;
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }

        .restaurant-name {
            font-size: 1.5em;
            font-weight: bold;
        }

        .options-dropdown {
            display: flex;
            align-items: center;
        }

        .options-dropdown a {
            color: #fff;
            text-decoration: none;
            padding: 10px;
            margin: 0 10px;
            display: none;
        }

        main {
          flex: 1;
          margin-left: 180px;
          max-width: 1000px;
          background-color: black;
          padding: 20px;
          border-radius: 10px;
        }

        form {
          max-width: 1000px;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        label {
          margin-bottom: 10px;
          color: orange;
        }

        input,
        select {
          margin-bottom: 20px;
          width: 100%;
          padding: 12px;
          border: 1px solid white;
          border-radius: 5px;
          box-sizing: border-box;
        }

        button {
          width: 100%;
          padding: 12px;
          background-color: orange;
          color: #fff;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }

        button:hover {
          background-color: white;
          color: black;
        }
        
        select {
                background-color: black;
                color: #fff;
        }

        @media only screen and (max-width: 600px) {
          main {
        margin-left: 0;
      }

      form {
        padding: 10px;
      }

      label,
      input,
      select,
      button {
        width: 100%;
      }

      select {
        margin-bottom: 10px;
      }

      footer {
        padding: 10px 0;
      }
    }

        footer {
            background-color: orange;
            margin-top: 20px;
            color: black;
            padding: 10px;
            text-align: center;
        }
  </style>
</head>
<body>
  <header>
    <nav>
      <div class="restaurant-name">Cum 'n Eat</div>
      <div style="display: flex;">
        <button class="strt" style="border-radius: 5px;" onclick="backtoMenu()">Menu</button>
      </div>
    </nav>
  </header>
  <h1 style="text-align: center;">Add New Item</h1>

  <main>
    <form action="/additem" method="post">
      <label for="name">Item Name:</label>
      <input type="text" id="name" name="name" placeholder="Enter Name" required>

      <label for="price">Price:</label>
      <input type="number" id="price" name="price" step="0.01" placeholder="Enter Price" required>

      <label for="category">Category:</label>
      <select style="background-color: white; color: black;" id="category" name="category" required>
        <option value="all">Select Category</option>
        <option value="soups">Soups</option>
        <option value="breads">Breads</option>
        <option value="starters">Starters</option>
        <option value="maincourse">Main Course</option>
        <option value="snacks">Snacks</option>
        <option value="desserts">Desserts</option>
        <option value="drinks">Drinks</option>
      </select>

      <button type="submit">Add Item</button>
    </form>
  </main>

  <footer>
    <p>&copy; 2024 Cum 'n Eat. All rights reserved.</p>
    <p>Kollam | Kottayam, Kerala, India</p>
    <p><a style="color: #fff;" href="mailto:cumneat@gmail.com">cumneat@gmail.com</a></p>
  </footer>
  
  <script>
    function backtoMenu() {
      window.location.href = '/menu';
    }
  </script>
</body>
</html>
