<!-- views/additem.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add New Menu Item | Tasty</title>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #080808;
      color: #fff;
    }

    header {
      background-color: #000;
      color: #fff;
      padding: 10px 20px;
      text-align: center;
    }

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }

    .restaurant-name {
      font-size: 1.5em;
      font-weight: bold;
    }

    .options-dropdown {
      display: flex;
      align-items: center;
    }

    .options-dropdown a {
      color: #fff;
      text-decoration: none;
      padding: 10px;
      margin: 0 10px;
      display: none;
    }

    .hamburger-menu {
      font-size: 1.5em;
      cursor: pointer;
    }

    .main-container {
      max-width: 800px;
      margin: 20px auto;
      background-color: black;
      padding: 10px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
      color: #fff;
    }

    th, td {
      border: 1px solid orange;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: orange;
      color: #fff;
    }

    tbody tr:nth-child(even) {
      background-color: black;
    }

    input[type="number"] {
      width: 50px;
      color: #000;
    }

    button {
      background-color: orange;
      color: #fff;
      border: none;
      padding: 8px 16px;
      cursor: pointer;
    }

    button:hover {
      background-color: white;
      color: black;
    }

    form {
      text-align: center;
      margin-top: 20px;
    }
    
    select {
      background-color: black;
      color: #fff;
    }

    @media only screen and (max-width: 600px) {
      .options-dropdown a {
        display: block;
      }

      .options-dropdown.active {
        display: flex;
      }

      .options-dropdown {
        display: none;
        width: 100%;
      }

      .restaurant-name {
        margin-bottom: 10px;
      }
    }
  </style>
</head>
<body>
  <header>
    <nav>
      <div class="restaurant-name">Tasty</div>
      <div style="display: flex;">
        <button style="border-radius: 5px;" onclick="backtoMenu()">Menu</button>
      </div>
    </nav>
  </header>
  <h1 style="text-align: center;">Add New Item</h1>

  <main>
    <form action="/additem" method="post">
      <table>
        <thead>
          <tr>
            <th style="border-color: black;">Item Name</th>
            <th style="border-color: black;">Price</th>
            <th style="border-color: black;">Category</th>
            <th style="border-color: black;">Add To the Menu</th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td>
                <label for="name">Item Name:</label>
                <input style="border-radius: 5px;" type="text" id="name" name="name" required>
              </td>
              <td>
                <label for="price">Price:</label>
                <input style="border-radius: 5px;" type="number" id="price" name="price" step="25" required>
              </td>
              <td>
                <label for="category">Category:</label>
                <select style="border-radius: 5px; background-color: white; color: black;" id="category" name="category" required>
                  <option value="all">Select Category</option>
                  <option value="soups">Soups</option>
                  <option value="breads">Breads</option>
                  <option value="starters">Starters</option>
                  <option value="maincourse">Main Course</option>
                  <option value="snacks">Snacks</option>
                  <option value="desserts">Desserts</option>
                  <option value="drinks">Drinks</option>
                </select>
              </td>
              <td><button style="border-radius: 5px;" type="submit">Add Item</button></td>
          </tr>
        </tbody>
      </table>
    </form>
  </main>
  <script>
    function backtoMenu() {
      window.location.href = '/menu';
    }
  </script>
</body>
</html>
