<!-- views/admin.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Console | Cum 'n Eat</title>
  <link rel="icon" href="/Images/logo.png" type="image/png">
  <style>
    body {
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #080808;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    main {
      max-width: 400px;
      padding: 20px;
      background-color: #333;
      border-radius: 10px;
      text-align: center;
    }

    h1 {
      color: orange;
    }

    input {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      box-sizing: border-box;
      border: 1px solid #000;
      border-radius: 5px;
    }

    button {
      width: 100%;
      padding: 10px;
      background-color: orange;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    button:hover {
      background-color: white;
      color: black;
    }
  </style>
</head>

<body>
  <main>
    <% if (!isAdminLoggedIn) { %>
      <h1>Login to Admin Console</h1>
      <form action="/admin/login" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Enter Name" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter Password" required>

        <button type="submit">Login</button>
      </form>
      <% } else { %>
        <h1>Welcome to Admin Console</h1>
        <p>You are logged in as admin.</p>
        <p><a href="/kitchenview">Kitchen View</a></p>
        <p><a href="/checktables">Check Tables</a></p>
        <p><a href="/additem">Add New Item</a></p>
        <% } %>
  </main>
</body>

</html>