<!-- views/disclaimer.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disclaimer | ayyiye khaiye</title>
    <link rel="icon" href="/Images/logo.png" type="image/png">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link href="img/logo.png" rel="icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/unified.css" id="themeStylesheet">
    <% var currentMode='light' ; %>
        <script>
            function toggleTheme() {
                const themeStylesheet = document.getElementById('themeStylesheet');
                if (themeStylesheet.getAttribute('href') === '/css/unified.css') {
                    themeStylesheet.setAttribute('href', '/css/unifieddark.css');
                    localStorage.setItem('theme', 'dark');
                } else {
                    themeStylesheet.setAttribute('href', '/css/unified.css');
                    localStorage.setItem('theme', 'light');
                }
            }
            document.addEventListener('DOMContentLoaded', function () {
                const savedTheme = localStorage.getItem('theme');
                if (savedTheme && savedTheme === 'dark') {
                    toggleTheme();
                }
            });
        </script>
</head>
<body>
    <header>
        <nav>
            <a href="/" class="navbar-brand p-0 d-flex align-items-center" style="text-decoration: none;">
                <!-- <img src="img/logo.png" alt="Logo" class="ml-2 mr-2" style="max-height: 60px;"> -->
                <h1 class="text-primary m-0">ayyiye khaiye</h1>
            </a>
            <div style="display: flex;">
                <button style="border-radius: 5px;" onclick="menu()">Menu</button>
            </div>
        </nav>
    </header>
    <main>
        <style>
            strong {
                color: orange;
            }
        </style>
        <h2>Disclaimer</h2>
        <p class="blah">
            <strong>Table Selection Disclaimer</strong>
            <br>
            By using this web application and selecting a table number for placing orders, you agree to the following:
            <br><br>
            1. The table number you choose for ordering is assumed to be the table where you are physically seated.
            <br><br>
            2. Deliberately selecting a table number different from your actual location may lead to confusion in the order delivery process.
            <br><br>
            3. Any misuse or intentional misrepresentation of your table number for amusement or other purposes may result in service delays and inconvenience for both staff and other customers.
            <br><br>
            4. ayyiye khaiye holds no responsibility for any penalties or consequences resulting from the intentional misrepresentation of your table number.
            <br><br>
            5. We encourage users to use the table selection feature responsibly and ensure accurate representation of their actual seating location.
            <br><br>
            By using this service, you acknowledge and accept the terms outlined in this Table Selection Disclaimer. ayyiye khaiye reserves the right to refuse service or take appropriate action against users found intentionally misrepresenting their table numbers.
            <br><br>

            <strong>Service Availability:</strong>
            <br>
            ayyiye khaiye strives to provide a reliable service. However, the service may be subject to interruptions. We are not responsible for any loss caused by service unavailability.
            <br><br>

            <strong>Content Accuracy:</strong>
            <br>
            The information provided on this website may not be exhaustive, and there could be inaccuracies. ayyiye khaiye is not liable for any reliance on such information.
            <br><br>

            <strong>User Responsibilities:</strong>
            <br>
            Users are responsible for providing accurate information, refraining from misuse of the service, and complying with all applicable laws and regulations while using ayyiye khaiye.
            <br><br>

            <strong>Intellectual Property:</strong>
            <br>
            All intellectual property associated with the content on this website, including trademarks and copyrights, is protected. Unauthorized use is strictly prohibited.
            <br><br>

            If you have any questions or concerns regarding this disclaimer, please contact us at <a href="mailto:ayyiye khaiye@gmail.com">ayyiye khaiye@gmail.com</a>.
        </p>
    </main>

    <!-- Footer Start -->
        <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">ayyiye khaiye</h4>
                        <a class="btn btn-link" href="/">Home</a>
                        <a class="btn btn-link" href="/#about">About Us</a>
                        <a class="btn btn-link" href="/contact">Contact Us</a>
                        <a class="btn btn-link" href="/disclaimer">Terms & Condition</a>
                        <a class="btn btn-link" onclick="toggleTheme()">Toggle Theme</a>

                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Contact</h4>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Kollam | Kottayam, Kerala</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+91 123456789</p>
                        <p class="mb-2"><i class="fa fa-envelope me-3"></i>ayyiye khaiye@gmail.com</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href="/contact"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social" href="/contact"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href="/contact"><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-outline-light btn-social" href="/contact"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Open on</h4>
                        <h5 class="text-light fw-normal">Monday - Saturday</h5>
                        <p>09AM - 09PM</p>
                        <h5 class="text-light fw-normal">Sunday</h5>
                        <p>10AM - 08PM</p>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Navigation</h4>
                        <a class="btn btn-link" href="/notifications">Order Status</a>
                        <a class="btn btn-link" href="/tableavail">Table Availability</a>
                        <a class="btn btn-link" href="/menu">Menu</a>
                        <a class="btn btn-link" href="/navigation">Navigation Page</a>
                        <a class="btn btn-link" href="/admin">Admin Console</a>
                        <!-- <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Newsletter</h4>
                        <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
                        <div class="position-relative mx-auto" style="max-width: 400px;">
                            <input class="form-control border-primary w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                            <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a class="border-bottom" href="/">ayyiye khaiye</a>, All Right Reserved.
                        </div>
                        <div class="col-md-6 text-center text-md-end">
                            <div class="footer-menu">
                                <a href="/#index">Home</a>
                                <a href="/disclaimer">Help</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

    <script>
        function menu() {
            window.location.href = '/menu';
        }
    </script>
</body>
</html>
