<!-- views/revieworder.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Review Order | Cum 'n Eat</title>
  <link rel="icon" href="/Images/logo.png" type="image/png">
  <link rel="stylesheet" href="/css/styles.css">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <link href="img/logo.png" rel="icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <style>
    body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #080808;
            color: #fff;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
  </style>
</head>
<body>
    <header>
        <nav>
            <a href="/" class="navbar-brand p-0 d-flex align-items-center">
                <!-- <img src="img/logo.png" alt="Logo" class="ml-2 mr-2" style="max-height: 60px;"> -->
                <h1 class="text-primary m-0">Cum 'n Eat</h1>
            </a>
            <div style="display: flex;">
            <!-- <button style="margin-right: 10px; border-radius: 5px;" onclick="callWaiter()">Call Waiter</button> -->
            <button style="border-radius: 5px;" onclick="backtoMenu()">Menu</button>
            </div>
        </nav>
    </header>
    
    <main>
        <h1 class="tableno" style="text-align: center; color: white;"></h1>
        <div style="margin-top: 20px; text-align: center; background-color: #FF6347; padding: 10px; width: 80%; margin-left: auto; margin-right: auto; border-radius: 10px;">
            <p style="color: #fff; font-size: 16px; font-weight: bold; margin: 0;">
                <strong>Note:</strong> Once your order is submitted, you are not allowed to change the existing items. However, you can add more items to your order if needed.
            </p>
        </div>
        <table>
            <thead>
                <tr>
                    <th style="border-color: black;">Item Name</th>
                    <th style="border-color: black;">Quantity</th>
                    <th style="border-color: black;">Action</th>
                </tr>
            </thead>
            <tbody>
                <% orderList.forEach(order => { %>
                    <tr data-table-number="<%= order.tableNumber %>">
                        <td><%= order.itemName %></td>
                        <td><%= order.quantity %></td>
                        <td>
                            <button style="border-radius: 5px;" onclick="deleteOrder('<%= order._id %>')">Delete</button>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <div style="text-align: center; margin-top: 20px;">
            <h2 style="color: white;">Total Amount: INR <span id="total-amount">0.00</span></h2>
        </div>
        <div style="text-align: center; margin-top: 20px;">
            <button style="border-radius: 5px;" onclick="submitOrder()">Submit Order</button>
        </div>
    </main>

    <!-- Footer Start -->
        <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Cum 'n Eat</h4>
                        <a class="btn btn-link" href="/">Home</a>
                        <a class="btn btn-link" href="/#about">About Us</a>
                        <a class="btn btn-link" href="/contact">Contact Us</a>
                        <!-- <a class="btn btn-link" href="">Reservation</a> -->
                        <a class="btn btn-link" href="/disclaimer">Terms & Condition</a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Contact</h4>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Kollam | Kottayam, Kerala</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+91 123456789</p>
                        <p class="mb-2"><i class="fa fa-envelope me-3"></i>cumneat@gmail.com</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href="/contact"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social" href="/contact"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href="/contact"><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-outline-light btn-social" href="/contact"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Open on</h4>
                        <h5 class="text-light fw-normal">Monday - Saturday</h5>
                        <p>09AM - 09PM</p>
                        <h5 class="text-light fw-normal">Sunday</h5>
                        <p>10AM - 08PM</p>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Navigation</h4>
                        <a class="btn btn-link" href="/tableavail">Table Availability</a>
                        <a class="btn btn-link" href="/menu">Menu</a>
                        <a class="btn btn-link" href="/navigation">Navigation Page</a>
                        <a class="btn btn-link" href="/admin">Admin Console</a>
                        <!-- <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Newsletter</h4>
                        <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
                        <div class="position-relative mx-auto" style="max-width: 400px;">
                            <input class="form-control border-primary w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                            <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a class="border-bottom" href="/">Cum 'n Eat</a>, All Right Reserved. 
							<!-- Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a> -->
                        </div>
                        <div class="col-md-6 text-center text-md-end">
                            <div class="footer-menu">
                                <a href="/#index">Home</a>
                                <!-- <a href="">Cookies</a> -->
                                <a href="/disclaimer">Help</a>
                                <!-- <a href="">FQAs</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

    <script>
        function getTableNumberFromConsole() {
            const tableNumber = prompt('Please Review your Order by Entering your Table Number:');
            return tableNumber;
        }
        const selectedTableNumber = getTableNumberFromConsole();
        if (selectedTableNumber === null || selectedTableNumber.trim() === '' || selectedTableNumber > 5 || selectedTableNumber < 1) {
            window.location.href = '/menu';
        } else {
            filterOrders(selectedTableNumber);
            fetchTotalAmount(selectedTableNumber);
        }

        function submitOrder() {
            console.log('Submitting order for table:', selectedTableNumber);

            fetch(`/toorder/submit-order/${selectedTableNumber}`, {
                method: 'POST',
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`Network response was not ok: ${response.status} ${response.statusText}`);
                }
                console.log('Order submitted successfully.');
                window.location.href = '/menu';
            })
            .catch(error => {
                console.error('Error submitting order.', error);
            });
        }

        function fetchTotalAmount(tableNumber) {
            fetch(`/toorder/get-total-amount/${tableNumber}`)
            .then(response => response.json())
            .then(data => {
            console.log('Total Amount Data:', data);

            if (typeof data.totalAmount === 'number') {
                const totalAmountElement = document.getElementById('total-amount');
                totalAmountElement.textContent = data.totalAmount.toFixed(2);
            } else {
                console.error('Invalid total amount:', data.totalAmount);
            }
            })
            .catch(error => {
            console.error('Error fetching total amount:', error);
            });
        }

        function filterOrders(selectedTableNumber) {
            document.querySelector('.tableno').innerText = `Review Order for Table ${selectedTableNumber}`;
            const tableRows = document.querySelectorAll('tbody tr');
            tableRows.forEach(row => {
                const rowTableNumber = row.getAttribute('data-table-number');
                if (selectedTableNumber === 'all' || rowTableNumber === selectedTableNumber) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
        }
        
        function deleteOrder(orderId) {
            fetch(`/menu/delete-order/${orderId}`, {
                method: 'DELETE',
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`Network response was not ok: ${response.status} ${response.statusText}`);
                }
                console.log('Item Deleted From Order.');
                location.reload();
            })
            .catch(error => {
                console.error('Error Deleting Order.', error);
            });
        }
        
        function backtoMenu() {
            window.location.href = '/menu';
        }
    </script>
</body>
</html>