body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #080808;
            color: #fff;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        header {
            background-color: #000;
            color: #fff;
            padding: 10px 20px;
            text-align: center;
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }

        .restaurant-name {
            font-size: 1.5em;
            font-weight: bold;
        }

        .options-dropdown {
            display: flex;
            align-items: center;
        }

        .options-dropdown a {
            color: #fff;
            text-decoration: none;
            padding: 10px;
            margin: 0 10px;
            display: none;
        }

        .hamburger-menu {
            font-size: 1.5em;
            cursor: pointer;
        }

        main {
            flex: 1;
            max-width: 1000px;
            margin: 20px auto;
            background-color: black;
            padding: 10px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            color: #fff;
        }

        th, td {
            border: 1px solid orange;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: orange;
            color: #fff;
        }

        tbody tr:nth-child(even) {
            background-color: black;
        }

        input[type="number"] {
            width: 50px;
            color: #000;
        }

        button {
            background-color: orange;
            color: #fff;
            border: none;
            padding: 8px 16px;
            cursor: pointer;
        }

        button:hover {
            background-color: white;
            color: black;
        }

        form {
            text-align: center;
            margin-top: 20px;
        }

        select {
            background-color: black;
            color: #fff;
        }

        @media only screen and (max-width: 600px) {
        .options-dropdown a {
            display: block;
        }

        .options-dropdown.active {
            display: flex;
        }

        .options-dropdown {
            display: none;
            width: 100%;
        }

        .restaurant-name {
            margin-bottom: 10px;
        }

        .strt {
            margin-left: 90px;
          }
        }

        footer {
            background-color: orange;
            margin-top: 20px;
            color: black;
            padding: 10px;
            text-align: center;
        }

.notification-area {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  z-index: 999;
  width: 25%;
}

.notification {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

.notification.success {
  background-color: #4caf50;
  color: #fff;
}

.notification.error {
  background-color: #f44336;
  color: #fff;
}